input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.MuiGrid-grid-xs-4 {
  justify-content: center;
  display: flex;
}

body {
  margin: 0;
}
